
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  /* --mainBackground: #000;
  --mainHeaderColor: #fff;
  --babyBlue: #a7c5eb;
  /* --navBarColor: #2e3f52; */
  /* --navBarColor: var(--fourthColor);
  --secondaryColor: #b4c1ce;
  --thirdColor: #dee6ef;
  --fourthColor: #000;
  --egg-white: #EDF1F6;
  --bright-blue: rgb(218, 235, 255);
  --font-color: #fff;  */

  --mainBackground: #c8d6e5;
  --mainHeaderColor: #000;
  --babyBlue: #a7c5eb;
  --navBarColor: #2e3f52;
  --navBarColor: var(--fourthColor);
  --secondaryColor: #b4c1ce;
  --thirdColor: #dee6ef;
  --fourthColor: #35495e;
  --fifthColor: #283646;
  --egg-white: #EDF1F6;
  --bright-blue: rgb(218, 235, 255);
  --font-color: #000;
}

body {
    /* font-family: "Open Sans", sans-serif; */
    font-family: subHeaderFont,sans-serif;
    background-color: var(--mainBackground);
    color: var(--font-color);
  }

@font-face {
  font-family: headerFont;
  src: url(assets/fonts/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: subHeaderFont;
  src: url(assets/fonts/Poppins-Medium.ttf);
}


  
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    height: 3rem;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background-color: var(--navBarColor);
  }
  
  #header.header-scrolled {
    background: var(--navBarColor);
    height: 2.75rem;
  }
  
  #header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #header .logo h1 a, #header .logo h1 a:hover {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  @media (max-width: 992px) {
    #header {
      height: 64px;
    }
    #header .logo h1 {
      font-size: 28px;
    }
  }

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #000;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid var(--babyBlue);
    border-top-color: var(--babyBlue);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-evenly;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
    display: table-cell;
  }
  
  .nav-menu a {
    display: block;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    padding: 10px 0 10px 25px;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }
  
  .nav-menu > ul > li > a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 3px;
    left: 25px;
    background-color: var(--babyBlue);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
    visibility: visible;
    width: 25px;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: var(--babyBlue);
    text-decoration: none;
  }
  
  .nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 25px;
    top: calc(100% - 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
  }
  
  .nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
    border-radius: 5px;
  }
  
  .nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
  }
  
  .nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #000;
  }
  
  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: var(--babyBlue);
  }
  
  .nav-menu .drop-down > a:after {
    /* content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px; */
  }
  
  .nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }
  
  .nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }
  
  .nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
  }
  
  .nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
  }
  
  @media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
      left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover > ul {
      left: -100%;
    }
    .nav-menu .drop-down .drop-down > a:after {
      content: "\ea9d";
    }
  }
  
  /* Mobile Navigation */
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    color: #fff;
  }
  
  .mobile-nav {
    position: fixed;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #000;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
  }
  
  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
  }
  
  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: var(--babyBlue);
    text-decoration: none;
  }
  
  .mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }
  
  .mobile-nav .active.drop-down > a:after {
    content: "\eaa1";
  }
  
  .mobile-nav .drop-down > a {
    padding-right: 35px;
  }
  
  .mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
  }
  
  .mobile-nav .drop-down li {
    padding-left: 20px;
  }
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(75, 77, 75, 0.11);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }

/*--------------------------------------------------------------
# Header Font Animation
--------------------------------------------------------------*/

  .mainHeader{
    font-size: 5rem;
    font-family: headerFont, sans-serif;
    padding-top: 5rem;
    width: 100%;
    text-align: center;
    font-weight: 700;
    overflow-x: scroll;
    color: var(--mainHeaderColor);
  }

  .subHeader{
    font-size: 3.5vw;
    font-family: subHeaderFont, sans-serif;
    text-align: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    
  }

/*--------------------------------------------------------------
# Header Font Animation
--------------------------------------------------------------*/
  .spacer1{
    /* background-color: var(--secondaryColor); */
    height: 20vh;
  }
  .spacer2{
    /* background-color: var(--secondaryColor); */
    height: 15vh;
  }
  .spacer3{
    /* background-color: var(--secondaryColor); */
    height: 5vh;
  }
  .spacer4{
    /* background-color: var(--secondaryColor); */
    height: 3vh;
  }
  .spacer5{
    /* background-color: var(--secondaryColor); */
    height: 1rem;
  }

  .regular{
    width: 100%;
    margin: 0;
  }

  .left-title{
    padding-left: 5%;
    text-align: left;
    width: 100%;
    /* text-align: center; */
    font-family: headerFont, sans-serif;
    font-weight: 700;
    font-size: 3rem;
  }
  .left-subtitle{
    /* width: 85%;*/
    padding-left: 5%; 
    text-align: left;
    width: 100%;
    /* text-align: center; */
    font-family: subHeaderFont, sans-serif;
    font-size: 1.25rem;
  }
  
  .underline{
    border-bottom: 2px solid var(--fourthColor);
  }
  .underline-white{
    border-bottom: 2px solid var(--egg-white);
  }
  .underline-bold{
    border-bottom: 3px solid var(--navBarColor);
  }
  .underline-bold-white{
    border-bottom: 3px solid var(--egg-white);
  }



  .contact{
    background-color: var(--secondaryColor);
    min-height: 20vh;
  }

  .bright{
    background-color: var(--thirdColor);
  }
  
  .normal{
    background-color: var(--mainBackground);
  }

  .dark{
    background-color: var(--fourthColor);
  }
  .darker{
    background-color: var(--fifthColor);
    color: var(--egg-white);
    padding-top: 5%;;
  }

  .text-white{
    color: var(--egg-white);
  }
  
  .center{
    text-align: center;
  }

  .backdrop-circle{
    color: #000;
    border-radius:100px;
    background-color: var(--egg-white);
    padding: 15px;
  }

  .caption{
    padding-top: 1rem;
  }
  .services{
    padding-top: 3%;
  }
  .portfolio{
    height: 50vh;
  }

  .item-holder{
    text-align: center;
  }
  
  .indicator{
    padding-top: 20%;
  }

  @media screen and (max-width: 800px){
    .mainHeader{
      font-size: 10vw;
      padding-top: 20vh;
    }
    .subHeader{
      font-size: 5vw;
    }
  }